/* CUSTOM STORY STYLE */
main 
	padding 0 1rem
	margin-bottom 6rem
p
	max-width $column-width
	margin 1.5rem auto
	set-type-size(medium, lh=true)

img
	display block
	border 1px solid $gray-light

video
	display block
	
figure
	max-width $column-width
	margin 3rem auto

figcaption
	set-type-size(xx-small, lh=true)
	padding-top 0.5rem
	text-align right
	color $gray

.view-code
	text-align center
	margin-bottom 3rem
