/* CUSTOM STORY STYLE */
p
	max-width $column-width
	margin 1.5rem auto
	set-type-size(medium, lh=true)

img
	display block
	margin 3rem 0
	border 1px solid $gray-light

video
	display block
	margin 3rem 0
	
.view-code
	text-align center