<title>The making of the weighted pivot scatter plot</title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='description' content='How (and why) the interactive chart was born.' />
<meta name='news_keywords' content='scatter plot, weighted, rank, interactive, chart, graphic' />

<meta property='og:title' content='The making of the weighted pivot scatter plot' />
<meta property='og:site_name' content='The Pudding'/>
<meta property='og:url' content='https://pudding.cool/process/weighted-pivot-scatter-plot' />
<meta property='og:description' content='How (and why) the interactive chart was born.' />
<meta property='og:type' content='article' />
<meta property='og:locale' content='en_US' />

<meta property='og:image' content='https://pudding.cool/process/weighted-pivot-scatter-plot/assets/og-img.jpg' />
<meta property='og:image:type' content='image/jpeg' />
<meta property='og:image:width' content='1200' />
<meta property='og:image:height' content='600' />

<meta name='twitter:card' content='summary_large_image'>
<meta name='twitter:site' content='https://pudding.cool'>
<meta name='twitter:creator' content='@puddingviz'>
<meta name='twitter:title' content='The making of the weighted pivot scatter plot'>
<meta name='twitter:description' content='How (and why) the interactive chart was born.'>
<meta name='twitter:image:src' content='https://pudding.cool/process/weighted-pivot-scatter-plot/assets/og-img.jpg'>