<div class='intro'>
	<h1 class='intro__hed pud-hed tk-canela'>The making of the weighted pivot scatter plot</h1>
	<div class='intro__info'>
		<p class='intro__byline tk-atlas'>By <a href='https://twitter.com/codenberg' target='_blank'><strong>Russell Goldenberg</strong></a></p>
		<p class='intro__dek tk-atlas'>May 2017</p>
	</div>
</div>